{% block content %}
<!--------------------------------------Header Start---------------------------------->
<section>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold text-primary" href="#">+ Lifesure</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Plans
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'carinsurance' %}">Car Insurance Plan</a></li>
              <li><a class="dropdown-item" href="{% url 'healthinsurance' %}">Health Insurance Plan</a></li>
              <li><a class="dropdown-item" href="{% url 'familyinsurance' %}">Family Insurance Plan</a></li>
              <li><a class="dropdown-item" href="{% url 'houseinsurance' %}">House Insurance Plan</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-disabled="true">Contact</a>
          </li>
        </ul>
        <!-- search_form.html -->
         <form method="GET" action="{% url 'search_results' %}">
              <input type="text" name="query" placeholder="Search for plans..." required>
              <button class="btn btn-outline-warning m-1" >Search</a></button>
              <button class="btn btn-outline-warning m-1">
              <a class="text-decoration-none text-light" href="{% url 'registration' %}">Registration</a>
          </button>
        </form>
      </div>
    </div>
  </nav>

  <marquee onmouseover="stop()" onmouseleave="start()">
    <p class="text-warning fw-light mb-0">
      Top Insurance: 
      {% if plans %}
          {% for plan in plans %}
              {{ plan.title }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
      {% else %}
          No insurance plans available at the moment.
      {% endif %}
  </p>
  
  </marquee>
</section>
<!--------------------------------------Header End---------------------------------->


<!--------------------------------------Slider Start---------------------------------->
<section>
  <div class="col-md-7 w-100">
    <div class="card mb-4 bg-primary" style="width: 100%; height: 350px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img style="width: 100%; height: 80%;" src="static/img/carousel-2.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-light fw-bold m-2">Welcome To Lifesure</h5>
            <h1 class="text-light fw-bold mt-3">Life Insurance <br> Makes You Happy</h1>
            <p class="card-text text-light fw-bold mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio voluptatem eos consequuntur inventore quo quaerat laudantium accusamus quam, similique facilis praesentium corrupti alias ullam vitae dignissimos est. Molestiae, dolorem voluptatibus!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--------------------------------------Slider End---------------------------------->


<!--------------------------------------Features Start---------------------------------->
<section class="bg-secondary">
  <div class="text-center">
    <h3 class="text-primary">Our Features</h3>
    <h2>Insurance Provides You a Better Future</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repellendus itaque quos quas! Rem voluptas magnam maiores odio nihil? Ex, modi. Repellendus ad illo voluptatem itaque, tempora delectus esse id.</p>
    
    <div class="row row-cols-1 row-cols-md-4 g-6">
      <!-- Feature Cards -->
      <div class="card m-5" style="width: 18rem;">
        <div class="card-body">
          <i class="fa-solid fa-handshake text-primary fs-2"></i>
          <h5 class="card-title">Trust Company</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Learn more</a>
        </div>
      </div>
      <div class="card m-5" style="width: 18rem;">
        <div class="card-body">
          <i class="fa-solid fa-handshake text-primary fs-2"></i>
          <h5 class="card-title">Trust Company</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Learn more</a>
        </div>
      </div>
      <div class="card m-5" style="width: 18rem;">
        <div class="card-body">
          <i class="fa-solid fa-handshake text-primary fs-2"></i>
          <h5 class="card-title">Trust Company</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Learn more</a>
        </div>
      </div>
      <div class="card m-5" style="width: 18rem;">
        <div class="card-body">
          <i class="fa-solid fa-handshake text-primary fs-2"></i>
          <h5 class="card-title">Trust Company</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Learn more</a>
        </div>
      </div>
      <!-- Repeat similar cards for other features -->
    </div>
  </div>
</section>
<!--------------------------------------Features End---------------------------------->


<!--------------------------------------Service Start---------------------------------->
<section class="plans" style="background-size: cover;">
  <div class="m-5">
    <div class="text-center">
      <h4 class="text-primary">Our Insurance</h4>
      <h2>We Provide Best Services</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repellendus itaque quos quas! Rem voluptas magnam maiores odio nihil?</p>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card">
          <img src="static/img/blog-1.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Car Insurance</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum praesentium cumque illum molestiae eos eum atque repellendus aliquam iste voluptate saepe, accusantium doloribus quo qui velit ad enim ullam provident!</p>
            <a href="{% url 'carinsurance' %}" class="btn btn-primary mt-5">Read more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="static/img/blog-2.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Home Insurance</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum praesentium cumque illum molestiae eos eum atque repellendus aliquam iste voluptate saepe, accusantium doloribus quo qui velit ad enim ullam provident!</p>
            <a href="{% url 'carinsurance' %}" class="btn btn-primary mt-5">Read more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="static/img/blog-3.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Family Insurance</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum praesentium cumque illum molestiae eos eum atque repellendus aliquam iste voluptate saepe, accusantium doloribus quo qui velit ad enim ullam provident!</p>
            <a href="{% url 'carinsurance' %}" class="btn btn-primary mt-5">Read more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="static/img/blog-4.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Health Insurance</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum praesentium cumque illum molestiae eos eum atque repellendus aliquam iste voluptate saepe, accusantium doloribus quo qui velit ad enim ullam provident!</p>
            <a href="{% url 'carinsurance' %}" class="btn btn-primary mt-5">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-primary mt-5">More Insurance</a>
    </div>
  </div>
</section>
<!--------------------------------------Service End---------------------------------->
{% endblock content %}
